.circleci
.github
.vscode/**
.vscode-test/**
docs/**
out/
src/
test Fixture with speci@l chars/**
test-archive/**
**/.gitignore
**/JenkinsFile
**/sonar-project.properties
**/tsconfig.json
**/*.ts
**/*.vsix
webpack.*.config.js
node_modules
