.didact {
  cursor:crosshair;
}

.imageRight {
  float: right;
  width:33%;
  height: auto;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.content, blockquote {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

strong {
  color: var(--vscode-editor-foreground);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .paragraph, .content blockquote,
.paragraph.lead>p, .quoteblock, .verseblock, .quoteblock blockquote p, .verseblock pre, .attribution cite, pre {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

.exampleblock>.content {
  background-color: var(--vscode-editor-selectionHighlightBackground);
}

pre {
  background: var(--vscode-editor-selectionHighlightBackground);
}

#preamble>.sectionbody>.paragraph:first-of-type p, .sidebarblock>.content>.title, .admonitionblock>table td.content, .sidebarblock {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

table thead, table tfoot {
  background: var(--vscode-editor-background);
  color:var(--vscode-editor-foreground);
  font-weight: bold;
}

table tr {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

.quoteblock blockquote:before {
  color:var(--vscode-editor-selectionForeground);
}

.admonitionblock>table td.icon {
  color:var(--vscode-editor-selectionForeground);
}

.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
  color: var(--vscode-editor-foreground);
}

.content table thead th {
  color: var(--vscode-editor-foreground);
}

a {
  color: var (--vscode-textlink-foreground);
}

code{
  color:var(--vscode-editor-selectionForeground);
  background-color: var(--vscode-editor-selectionHighlightBackground) !important
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], 
  .listingblock pre.CodeRay, .listingblock pre.prettyprint {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

/* Page content */
.content {
  padding: 20px;
  padding-bottom: 50px;  
  width: 90%;
}

.didactHeader {
  height: 50px;
  background-color:var(--vscode-editor-background);
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hide;
  text-align: right;
}

.didactHeaderImage {
  padding: 10px 25px;
}

.tutorialContent {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 50px;
  overflow: auto;
  width: 90%;
}

.didactFooter {
  position: fixed;
  bottom: 0px;
  overflow: hide;
  width: 100%;
  text-align: right;
  padding: 10px 25px;
  background-color:var(--vscode-editor-background);
  font-size: 10px;
}
