.imageRight {
  float: right;
  width:33%;
  height: auto;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.content, blockquote {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

strong {
  color: var(--vscode-editor-foreground);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .paragraph, .content blockquote,
.paragraph.lead>p, .quoteblock, .verseblock, .quoteblock blockquote p, .verseblock pre, .attribution cite, pre {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

.exampleblock>.content {
  background-color: var(--vscode-editor-selectionHighlightBackground);
}

pre {
  background: var(--vscode-editor-selectionHighlightBackground);
}

#preamble>.sectionbody>.paragraph:first-of-type p, .sidebarblock>.content>.title, .admonitionblock>table td.content, .sidebarblock {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

table thead, table tfoot {
  background: var(--vscode-editor-background);
  color:var(--vscode-editor-foreground);
  font-weight: bold;
}

table tr {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

.quoteblock blockquote:before {
  color:var(--vscode-editor-selectionForeground);
}

.admonitionblock>table td.icon {
  color:var(--vscode-editor-selectionForeground);
}

.subheader, .admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
  color: var(--vscode-editor-foreground);
}

.content table thead th {
  color: var(--vscode-editor-foreground);
}

a {
  color: var (--vscode-textlink-foreground);
}

code{
  color:var(--vscode-editor-selectionForeground);
  background-color: var(--vscode-editor-selectionHighlightBackground) !important
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], 
  .listingblock pre.CodeRay, .listingblock pre.prettyprint {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}

.didactbutton {
  transition: all 0.5s;
  cursor: pointer;
}

.didactbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.didactbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.didactbutton:hover span {
  padding-right: 25px;
}

.didactbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.didact {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: var (--vscode-textlink-foreground);
  transition: all .2s ease;
  background-color: transparent;
  text-decoration: none;
  padding: .1em;
  position: relative;
  z-index: 10;  
}

.didact:hover {
  color: var (--vscode-textlink-foreground);
  text-decoration: none;
}

.didact:hover::before {
  height: 100%;
  background-color: var (--vscode-textlink-foreground);
}

.didact::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1%;
  border-bottom: 1px dotted var (--vscode-textlink-foreground);
  background-color: transparent;
  transition: all .3s ease;
  z-index: -1;
}

.didact:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.didact::after {
  content: '[Performs a Didact Action]';
  position: absolute;
  top: 100%;
  font-style: italic;
  left: 0;
  transform: translateY(-100%);
  background: var (--vscode-textlink-foreground);
  width: 100%;
  text-align: center;
  height: 16px;
  font-size: 11px;
  line-height: 12px;
  transition: all .2s ease-out;
  color: fade(var (--vscode-textlink-foreground), 85%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.didact:hover::after {
  transform: translateY(0);
  opacity: 1;
}
