.didact {
  cursor:crosshair;
}

.imageRight {
  float: right;
  width:33%;
  height: auto;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

.content, blockquote {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

strong {
  color: var(--vscode-editor-foreground);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .paragraph, .content blockquote {
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

.content table thead th {
  color: var(--vscode-editor-foreground);
}

a {
  color: var (--vscode-textlink-foreground);
}

code{
  color:var(--vscode-editor-selectionForeground);
  background-color: var(--vscode-editor-selectionHighlightBackground) !important
}

.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
  background: var(--vscode-editor-selectionHighlightBackground);
  color:var(--vscode-editor-selectionForeground);
}
