.didact {
  cursor:crosshair;
}

.imageRight {
  float: right;
  width:33%;
  height: auto;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  color: var(--vscode-editor-foreground);
  background-color:var(--vscode-editor-background);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .paragraph {
  color: var(--vscode-editor-foreground);
}

a {
  color: var (--vscode-textlink-foreground);
}
